/* General Styles */

body {
    background-color: #B2E4DB;
    margin: 0;
    padding: 0;
}

/* Element Selector: Styling the main heading (h1) */

h1 {
    background-color: #BFD7EA;
}

p {
    background-color: #BCD8C1;
}
.highlight {
    background-color: lightyellow;
}

.ColorTouch {
    background-color:coral;
}
.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: salmon;
}

#emphasis {
   background-color: #FFD25A;
}

#Boom {
    background-color: #ACEDFF;
}